@mixin text-hide() {
   @include hide-text;
}
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// Floats
// -------------------------

.clearfix {
  @include clearfix;
}

.center-block {
  @include center-block;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
// Toggling content
// -------------------------
// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  @include text-hide;
}
// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}
// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.bg-grey {
  background-color: #dadada;
  color: #585857;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-inline-block {
  display: inline-block;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

$steps: ( 1: .25rem, 2: .5rem, 3: 1rem, 4: 2rem, 5: 3rem, 6: 4rem, 7: 5rem, 8: 6rem );
@each $key, $value in $steps {
  .mt-#{$key} {
    margin-top: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .ml-#{$key} {
    margin-left: $value;
  }

  .mr-#{$key} {
    margin-right: $value;
  }

  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .ma-#{$key} {
    margin: $value;
  }

  .pt-#{$key} {
    padding-top: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .pl-#{$key} {
    padding-left: $value;
  }

  .pr-#{$key} {
    padding-right: $value;
  }

  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .pa-#{$key} {
    padding: $value;
  }
}
